.skystudio_root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.skystudio_toggle_menu {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  pointer-events: auto;
  /* transform: scale(0.7); */
}

.skystudio_toggle_menu .ManagementMenuButton_root {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  box-sizing: border-box;
  pointer-events: auto;
}

.skystudio_toggle_menu .ManagementMenuButton_icon {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  pointer-events: auto;
}

.skystudio_slider {
  margin: 0.5rem auto;
}

.skystudio_controls_panel_wrapper {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
  pointer-events: auto;
  transform: scale(0.7) translateX(30%) translateY(30%);
}

.skystudio_focus_debug {
  position: absolute;
  bottom: 4rem;
  right: 12rem;
  pointer-events: auto;
  transform: scale(0.7);
}

.hidden {
  display: none;
}

/* .skystudio_content > * {
margin: 0.5rem auto;
width: 100%;
} */

/* .skystudio_content.hide {
display: none;
} */

/* new styling for our slider and label */
/* .skystudio_label {
color: white;
font-size: 1rem;
margin-bottom: 0.5rem;
}

.skystudio_slider {
appearance: auto;
border: none;
} */


