.skystudio_root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.skystudio_toggle_menu {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  pointer-events: auto;
  /* transform: scale(0.7); */
}

.skystudio_toggle_menu .ManagementMenuButton_root {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  box-sizing: border-box;
  pointer-events: auto;
}

.skystudio_toggle_menu .ManagementMenuButton_icon {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  pointer-events: auto;
}

.skystudio_slider {
  margin: 0.5rem auto;
}

.skystudio_controls_panel_wrapper {
  position: absolute;
  bottom: 8rem;
  right: 4rem;
  pointer-events: auto;
  transform: scale(0.7) translateX(30%) translateY(30%);
}

.skystudio_focus_debug {
  position: absolute;
  bottom: 4rem;
  right: 12rem;
  pointer-events: auto;
  transform: scale(0.7);
}

.hidden {
  display: none;
}

.skystudio_section {
  margin: 0.25rem auto;
}

 /* This is called scrollPane but it doesn't actoll scroll right now */
 /* Was originally using the vanilla ScrollPane component but its kinda ugly */
 /* Maybe we can just split the tabs more so everything always fits on the screen, hopefully */
.skystudio_scrollPane {
  flex: 1 1 auto;
  min-height: 25rem;
  max-height: 80vh;
  /* Width should be fixed or else we get a huge layout shift hiccup when changing tabs which causes the game to stutter */
  width: 40rem;
}

/* Color row layout */
.skystudio_colorRow_swatchWrapper {
  width: 100%;
}

.skystudio_colorRow_swatch {
  /* style is mostly applied inline, but you can bump contrast here if needed */
}

