.skystudio_root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.skystudio_toggle_menu {
  position: absolute;
  bottom: 4.5rem;
  right: 2rem;
  pointer-events: auto;
}

.skystudio_toggle_menu .ManagementMenuButton_root {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  box-sizing: border-box;
  pointer-events: auto;
}

.skystudio_toggle_menu .ManagementMenuButton_icon {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  pointer-events: auto;
}

.skystudio_slider {
  margin: 0.5rem auto;
}

.skystudio_controls_panel_wrapper {
  position: absolute;
  bottom: 9rem;
  right: 2rem;
  pointer-events: auto;
}

.skystudio_focus_debug {
  position: absolute;
  bottom: 4rem;
  right: 12rem;
  pointer-events: auto;
  transform: scale(0.7);
}

.hidden {
  display: none;
}

.skystudio_section {
  margin: 0.25rem auto;
}

 /* This is called scrollPane but it doesn't actoll scroll right now */
 /* Was originally using the vanilla ScrollPane component but its kinda ugly */
 /* Maybe we can just split the tabs more so everything always fits on the screen, hopefully */
.skystudio_scrollPane {
  flex: 1 1 auto;
  /* min-height: 25rem; */
  height: 35vh;
  /* Width should be fixed or else we get a huge layout shift hiccup when changing tabs which causes the game to stutter */
  width: 45rem;
  position: relative;
}

/* Color row layout */
.skystudio_colorRow_swatchWrapper {
  width: 100%;
}

.skystudio_colorRow_swatch {
  /* style is mostly applied inline, but you can bump contrast here if needed */
}

.skystudio_confirm_modal {
  position: absolute;
  width: 45rem;
  height: 35vh;
  padding-bottom: 2rem;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.skystudio_confirm_blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skystudio_reset_confirm_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.skystudio_reset_confirm_button {
  display: block;
  height: 2rem;
  margin-left: 1rem;
}

.skystudio_reset_header {
  font-size: 1em;
  font-weight: bold;
}

.skystudio_blur {
  filter: blur(4px);
}

.relative {
  position: relative;
}